<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
<title>n3d-demo</title>
</head>
<body style="font-size:x-small;color:#ffffff;background-color:#000000;">
<div style="width:100%;text-align:center;">
<div><img src="/images/blank.gif" width="1" height="20" alt="" /><br /></div>
<h2><img src="/images/<%= image %>" width="21" height="15" alt="" /></h2>
<div><img src="/images/blank.gif" width="1" height="10" alt="" /><br /></div>
<div><img src="/images/blank.gif" width="1" height="30" alt="" /><br /></div>
<p><a href="/add/<%= channel %>" accesskey="2"><img src="/images/h3_channel_add_0<%= channel %>.gif" width="158" height="50" alt="Add Box" /></a></p>
<div><img src="/images/blank.gif" width="1" height="20" alt="" /><br /></div>
<p><a href="/remove/<%= channel %>" accesskey="8"><img src="/images/h3_channel_remove_0<%= channel %>.gif" width="224" height="53" alt="Remov Box" /></a></p>
<div><img src="/images/blank.gif" width="1" height="40" alt="" /><br /></div>
<p><a href="/exit/<%= channel %>" accesskey="0"><img src="/images/h4_channel_01.gif" width="57" height="8" alt="EXIT" /></a></p>
<div><img src="/images/blank.gif" width="1" height="20" alt="" /><br /></div>
<img src="/images/footer.gif" width="103" height="7" alt="Aircord &amp; Uniba" />
</div>
</body>
</html>